@font-face {
    font-family: simple;
    src: url(./modules/GrapeNuts-Regular.ttf);
}

button {
    height: 34px;
    width: 110px;
    border-radius: 14px;
    background-color: #358bb6;
    border: none;
    color: #f8fafc;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #0b7cb4;
}

.header {
    position: fixed;
    display: grid;
    justify-items: center;
    grid-auto-flow: column;
    grid-template-columns: 33vw 33vw 33vw;


}


#content {
    margin-top: 50px;
}

body {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    display: grid;
    justify-content: center;
}

.info {
    display: grid;
    max-width: 65vw;
    gap: 40px;
    justify-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
}

.menuInfo {
    display: grid;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 65vw;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    color: white;
    font-family: sans-serif;
    font-size: 22px;
    border-radius: 50px;

}

.heading1 {
    font-family: simple;
    font-size: 52px;
}

h1 {
    text-align: center;
}

.foodPic {
    height: 200px;
    width: 200px;
    /* padding: 20px; */
    border-radius: 20px;
    border: 20px solid rgb(192, 172, 60);
}

.foodPic img {
    height: 100%;
    width: 100%;
}

.foodItem {
    display: flex;
    align-items: center;
}

.contactBox {
    max-width: 60vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: sans-serif;
    padding: 20px;
    
}

.foodInfo {
    padding: 10px;
}